.-handbook-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.-handbook-tabs {
    box-sizing: border-box;
    /* There used to be 2 rows, but now that its shortened to only 1 row the 3vmax is divided by 2 */
    /* If 2 rows are ever needed again just reset it to 3vmax */
    height: calc(3vmax / 2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2vmax;
}

.-handbook-tab-row {
    box-sizing: border-box;
    padding: 0.1vmax;
    /* There used to be 2 rows, but now that its shortened to only 1 row, so height is 100% instead of 48% */
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.-handbook-tab {
    width: 50%;
    height: 100%;
    background: var(--dark);
    transition-duration: 75ms;
    border-radius: 0.15vmax;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 0.7vmax;
    text-align: center;
    color: var(--htmlbackground);
    display: grid;
    place-items: center;
}

.-handbook-tab:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.-handbook-tab:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.-handbook-tab:hover {
    background: var(--subnonaccent);
}

.-handbook-tab.selected {
    background: var(--nonaccent);
}

.-handbook-text {
    /* One row was removed, do calc(100% - 3.4vmax) if two rows are needed again */
    height: calc(100% - 1.7vmax);
    width: calc(100% - 0.8vmax);
    max-width: calc(100% - 0.8vmax);
    overflow-x: hidden;
    margin: 0.2vmax 0.4vmax 0.2vmax 0.4vmax;
    box-sizing: border-box;
    overflow-y: auto;
}

.-handbook-paragraph {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.8vmax;
    color: var(--nonaccent);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: -0.005vmax;
    user-select:text;
}

.-handbook-text > code {
    box-sizing: content-box;
    padding: 0.01vmax;
    font-family: 'IBM Plex Mono', monospace !important;
}

pre.language-js {
    padding: 0 0.3vmax 0 0.3vmax !important;
    width: 94.1%;
    border-radius: 0.3vmax;
    line-height: 0.8 !important;
    font-family: 'IBM Plex Mono', monospace !important;
    background: var(--htmlbackground) !important;
    filter: hue-rotate(180deg);
    box-shadow: var(--shadow) 0px 0.07vmax 0.2vmax;
    position: relative;
}

.-copy-code {
    --distance: 0.25vmax;
    width: 2vmax;
    aspect-ratio: 1 / 1 !important;
    box-sizing: border-box;
    padding: 0.25vmax;
    border: 1px solid var(--subnonaccent);
    background: var(--background);
    position: absolute;
    top: var(--distance);
    right: var(--distance);
    transition-duration: 75ms;
    cursor: pointer;
    filter: hue-rotate(-180deg);
    border-radius: 0.2vmax;
}

.-copy-code:hover {
    border: 1px solid var(--nonaccent);
}

.-copy-code:hover > svg {
    fill: var(--nonaccent);
}

.-copy-code > svg {
    height: 100%;
    fill: var(--subnonaccent);
    transition-duration: 75ms;
}

.-handbook-code {
    text-shadow: none !important;
    font-size: 0.53vmax !important;
    user-select: text !important;
}

.-handbook-code > span {
    user-select: text !important;
}

.token.operator, .token.operator.equal {
    background: transparent !important;
    /* Add any other styling properties as needed */
}

.listing-summary {
    font-family: 'IBM Plex Mono', monospace;
    width: 85%;
    margin-left: 2vmax;
}

.listing-summary > p {
    color: var(--subnonaccent);
    font-size: 0.6vmax;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.3vmax 0 0.3vmax 0;
    margin: 0.15vmax 0 0.15vmax 0;
    box-sizing: content-box;
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
}

.listing-summary > summary {
    cursor: pointer !important;
}