.-main {
    flex: 1;
    box-sizing: border-box;

    height: calc(100% - 5vmax);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.-main-display-wrapper {
    width: calc(100% - 20vmax);
    max-width: calc(100% - 20vmax) !important;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.-main-display {
    width: 92%;
    max-height: 95% !important;
    aspect-ratio: 862 / 485 !important;
    max-width: 100% !important;
    background: #000;
    box-shadow: var(--shadow) 0px 0.2vmax 20px;
    position: relative;
}

.-main-display-game-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.-SNAPLINE-Y {
    z-index: 9999999;
    pointer-events: none;
    animation: appear 50ms linear 0s 1 normal forwards;
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    box-sizing: border-box;
    background-image: repeating-linear-gradient( -45deg, var(--accent), var(--accent) 0.45vmax, #e5e5f700 0.45vmax, #e5e5f700 1vmax );
} 

.-SNAPLINE-X {
    z-index: 9999999;
    pointer-events: none;
    animation: appear 50ms linear 0s 1 normal forwards;
    position: absolute;
    height: 100%;
    top: 0;
    width: 1px;
    box-sizing: border-box;
    background-image: repeating-linear-gradient( -45deg, var(--accent), var(--accent) 0.45vmax, #e5e5f700 0.45vmax, #e5e5f700 1vmax );
}

.-RULER-HORIZONTAL-1 {
    width: 100%;
    top: -0.4vmax;
    height: 0.4vmax;
    position: absolute;
    background-image: repeating-linear-gradient(to right, transparent 0%, transparent calc(1% - 2px), var(--dark) calc(1% - 2px), var(--dark) 1%);
}

.-RULER-HORIZONTAL-5 {
    width: 100%;
    top: -1.0vmax;
    height: 1.0vmax;
    position: absolute;
    background-image: repeating-linear-gradient(to right, transparent 0%, transparent calc(5% - 2px), var(--dark) calc(5% - 2px), var(--dark) 5%);
}

.-RULER-POINTER-X {
    width: 2px;
    background-color: var(--accent);
    height: 100%;
    position: absolute;
    top:0;
    margin-left: -1px;
}

.-RULER-VERTICAL-1 {
    height: 100%;
    left: -0.4vmax;
    width: 0.4vmax;
    position: absolute;
    background-image: repeating-linear-gradient(to bottom, transparent 0%, transparent calc(1% - 2px), var(--dark) calc(1% - 2px), var(--dark) 1%);
}

.-RULER-VERTICAL-5 {
    height: 100%;
    left: -1.0vmax;
    width: 1.0vmax;
    position: absolute;
    background-image: repeating-linear-gradient(to bottom, transparent 0%, transparent calc(5% - 2px), var(--dark) calc(5% - 2px), var(--dark) 5%);
}

.-RULER-POINTER-Y-WRAPPER {
    height: 100%;
    width: 1vmax;
    position: absolute;
    left: -1vmax;
}
.-RULER-POINTER-X-WRAPPER {
    width: 100%;
    height: 1vmax;
    position: absolute;
    top: -1vmax;
}

.-RULER-POINTER-Y {
    height: 2px;
    background-color: var(--accent);
    width: 100%;
    position: absolute;
    left:0;
    margin-top: -2px;
}

.-RULER-HORIZONTAL-MARKINGS {
    width: 5%;
    top: -12%;
    height: 110%;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--dark);
    position: absolute;
    text-align: right;
    font-size: 0.5vmax;
    font-weight: 700;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    padding-right: 0.2vmax;
    letter-spacing: 0.05vmax;
}

.-RULER-VERTICAL-MARKINGS {
    height: 5%;
    left: -62%;
    width: 50%;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--dark);
    position: absolute;
    text-align: right;
    font-size: 0.5vmax;
    font-weight: 700;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    padding-right: 0.2vmax;
    letter-spacing: 0.05vmax;
}

#main > div.-RULER-VERTICAL-5 > div:nth-child(1) {
    left: -25% !important;
}

#main > div.-RULER-VERTICAL-5 > div:nth-child(20) {
    left: -100% !important;
}

