.-COMPONENT {
    overflow: visible;
}

.-COMPONENT-RELATIVE {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: visible;
}

.-SCALE-NOTCH {
    --notch-size: 0.65vmax;
    position: absolute;
    z-index: 99999;
    height: var(--notch-size);
    aspect-ratio: 1 / 1 !important;
    background: var(--foreground);
    box-sizing: border-box;
    border-radius: 9999px;
    border: 2px solid var(--nonaccent);
    transition-duration: 75ms;
}

.-SCALE-NOTCH:hover {
    /* ################################### TO - DO ############################################### */
}


/* CSS */



.-SCALE-NOTCH-TOP {
    top: calc(0% - (var(--notch-size) / 2));
    left: calc(50% - (var(--notch-size) / 2));
    cursor: n-resize;
}

.-SCALE-NOTCH-RIGHT {
    top: calc(50% - (var(--notch-size) / 2));
    left: calc(100% - (var(--notch-size) / 2));
    cursor: e-resize;
}

.-SCALE-NOTCH-BOTTOM {
    top: calc(100% - (var(--notch-size) / 2));
    left: calc(50% - (var(--notch-size) / 2));
    cursor: s-resize;
}

.-SCALE-NOTCH-LEFT {
    top: calc(50% - (var(--notch-size) / 2));
    left: calc(0% - (var(--notch-size) / 2));
    cursor: w-resize;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.-SUBCOMPONENT-SNAPLINE {
    z-index: 9999;
    pointer-events: none;
    animation: appear 50ms linear 0s 1 normal forwards;
    position: absolute;
    box-sizing: border-box;
    background-image: repeating-linear-gradient(-45deg, rgb(231, 6, 168), rgb(231, 6, 168) 0.25vmax, #e5e5f700 0.25vmax, #e5e5f700 0.5vmax);
}

.-SUBCOMPONENT-SNAPLINE-X {
    height: 100%;
    left: 50%;
    width: 1px;
}

.-SUBCOMPONENT-SNAPLINE-Y {
    height: 1px;
    top: 50%;
    width: 100%;
}