.-sidebar-details-type.enabled {
    border: 1px solid var(--accent);
}

.-sidebar-details-type.enabled > svg {
    fill: var(--accent) !important;
}

.-sidebar-details-position-wrapper {
    margin-top: 0.4vmax;
    min-height: 6vmax;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
}

.-sidebar-details-position-row {
    min-height: 45%;
    min-width: 100%;
    max-height: 45%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.-sidebar-details-position-box {
    width: 48%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: grid;
    place-items: center;
}


.-position-input {
    --border-width: 0.2vmax;
}

.-sidebar-details-position-input {
    background: var(--htmlbackground);
    outline: 0;
    box-sizing: border-box;
    border: 0;
    width: 100%;
    height: 2.5vmax;
    color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0vmax;
    padding: 0 0.3vmax 0 0.3vmax;
    border-radius: 0.25vmax;
}

.-sidebar-details-position-input-text {
    background: transparent;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    width: 100%;
    height: 100%;
    color: var(--nonaccent);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3vmax;
    padding: 0 0.3vmax 0 0.3vmax;
    border-radius: 0.25vmax;
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
}

.-small {
    color: var(--subnonaccent);
    font-size: 0.9vmax;
    margin-left: 0.2vmax;
    font-weight: 400;
}

.-sidebar-details-position-input-title {
    position: absolute;
    top: calc(var(--border-width) - 0.15vmax);
    right: calc(var(--border-width) - 0.05vmax);
    top: -0.1vmax;
    right: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--subnonaccent);
    font-size: 0.7vmax;
    font-weight: 600;
    box-sizing: content-box;
    padding-left: 0.75vmax;
    padding-right: 0.37vmax;
    padding-bottom: 0.1vmax;
    background: linear-gradient(60deg, transparent 0.4vmax, var(--background) 0.46vmax);
}

.-sidebar-details-type-section-wrapper {
    height: 3.5vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 0vmax;
    margin-bottom: 0.5vmax;
}

.-sidebar-details-type-title {
    color: var(--subnonaccent);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 0.8vmax;
    margin-top: 0.35vmax;
    text-align: left;
}

.-sidebar-details-type-wrapper {
    box-sizing: border-box;
    height: 1.75vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.-sidebar-details-type-wrapper.second {
    box-sizing: border-box;
    height: 1.75vmax !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.-sidebar-details-type {
    --border-radius: 999px;
    height: 100%;
    width: 32.8%;
	fill: var(--background);
    background: var(--htmlbackground);
	display: grid;
	place-items: center;
	transition-duration: 75ms;
	position: relative;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.-sidebar-details-type > svg {
    height: 60%;
    aspect-ratio: 1 / 1;
    fill: var(--subnonaccent);
}

.-sidebar-details-type:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.-sidebar-details-type:last-of-type {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.-sidebar-checkbox-wrapper {
	display: flex;
	height:1vmax;
	cursor: pointer;
}

.-subcomponent-specifics-wrapper {
    --fixed-height: 42%;
    box-sizing: border-box;
    padding-top: 1.2vmax;
    /*
    min-height: var(--fixed-height);
    max-height: var(--fixed-height);
    */
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8vmax;
}

.picker-spec {
    width: 1vmax;
    height: 1vmax;
    margin-left: 2vmax;
}

.-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}

.-specifics-input {
    height: 1.1vmax;
    border-radius: 0.15vmax;
    background: var(--htmlbackground);
    font-family: 'IBM Plex Mono', monospace;
    padding: .1vmax .3vmax .1vmax .3vmax;
    font-size: 0.7vmax;
    display: flex;
    align-items: center;
    color: var(--nonaccent);
    border: 0;
    outline: 0;
    text-align: right;
}

.-specifics-input.width {
    width: 3ch;
}

.-specifics-input.value {
    width: 80%;
    font-size: 0.9vmax;
    font-family: 'Starblast', monospace;
}

.-specifics-input.absolute {
    position: absolute;
    margin-left: 50%;
}

.-picker-trigger {
    width: 2vmax;
    height: 1vmax;
    box-sizing: border-box;
    border: 0.2vmax groove rgba(0,0,0,0.35);
    position: relative;
    cursor: pointer;
}

.-picker-trigger-wrapper {
    width: 2vmax;
    height: 1vmax;
    position: relative;
}

.-styled-sketch-picker {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--foreground) !important; 
    color: var(--nonaccent); 
}

.-styled-sketch-picker input {
    background-color: var(--htmlbackground) !important;
    border-radius: 0.15vmax !important;
    font-family: 'IBM Plex Mono', monospace !important;
    color: var(--nonaccent) !important;
    border: 0 !important;
    box-shadow: black 0px 0px 0px !important;
}

.flexbox-fix:last-of-type {
    border-top: 1px solid var(--dark) !important;
}

@keyframes ambig {
    0% {
        opacity: 0;
    }
    98% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
}

.-ambiguous-type {
    font-family: 'Starblast', sans-serif;
    color: var(--nonaccent);
    animation: ambig 1.5s linear 0s 1 normal forwards;
}

.-export-code {
    text-shadow: none !important;
    font-size: 0.75vmax !important;
    user-select: text !important;
    width: 95%;
}

.-export-code > span {
    user-select: text !important;
}